body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background: #fafafa;
  color: #333;
}

h1 {
  color: #d1495b;
}

.languageBar{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #000000;
  position: relative;
}

.languageBar a:hover {
    color:#d1495b
}
